.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 50%;
  width: 80%;
}

.hero-text {
  color: rgba(245, 244, 244, 0.972);
  text-align: center;
  font-size: 3.6rem;
  span {
    color: #037fff;
  }
}

.h-subtext {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-link {
    margin-right: 1rem;
    padding: 1rem;
    .icon {
      font-size: 2.5rem;
      color: #a4acc4;
      transition: all 0.3s ease-in-out;
    }
    .db:hover {
      color: #ea4c89;
    }
    .gh:hover {
      color: #f88a00;
    }
    .lk:hover {
      color: #0a66c2;
    }
  }
}
